@import url(../general.css);

h2 {
    display: flex;
    justify-content: center;
}

/*
#presence{
    display: none;
}
*/

#nom{
    font-size: large;
    margin: 5px;
}

.detail_eleve{
    background-color: transparent;
    border: 0px;
    pointer-events: none;
}

/*

#note{
    display: none;
}

#presence:checked + #note{
    display: block;
}
*/

.detail {
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
    font-size: xx-large;
}

table,
tr,
td,
th {
    border: 1px solid black;
}

th,
td {
    padding: 5px;
}

#separation{
    margin-bottom: 20px;
    margin-top: 20px;
    border: 3px solid black;
}

.formulaire{
    background-color: transparent;
    border: none;
}